* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    position: relative;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url(../images/bkg.jpg);
    background-size: cover;
    background-position: center;

    .top-header{
        width: 100%;
        height: 40px;
        background-color: #f9d455;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 5px rgba(69, 48, 8, 0.7);
        p{
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }

    nav{
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        color: white;

        .menu-mobile{
            display: none;
        }

        .logo{
            display: flex;
            align-items: center;
            gap: 2px;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
            p{
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .cta{
            a{
                text-decoration: none;
                color: white;
                background-color: #ba3849;
                padding: 10px;
                border-radius: 2px;
            }
        }

        ul{
            display: flex;
            gap: 2px;
            list-style: none;
            font-size: 0.9rem;
            a{
                text-decoration: none;
                color: white;
                padding: 10px;
                transition: 0.3s;
            }
        }
    }

    .hero{
        width: 100%;
        height: calc(100% - 140px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .left-hero{
            width: 500px;
            height: auto;
            color: white;
            text-align: center;
            font-size: 2rem;
            padding: 20px 50px;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .right-hero{
            width: 400px;
            height: auto;
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px;
            h3{
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 15px;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .form-group{
                    display: flex;
                    gap: 20px;

                    .form-field{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        input{
                            width: 100%;
                            padding: 5px;
                            border-radius: 3px;
                            border: none;
                        }
                        select{
                            width: 100%;
                            padding: 5px;
                            border-radius: 3px;
                            border: none;
                        }
                    }
                }

                .send{
                    display: flex;
                    justify-content: center;
                    button{
                        padding: 10px 20px;
                        border-radius: 2px;
                        background-color: #ba3849;
                        color: white;
                        border: none;
                        cursor: pointer;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    .presentation{
        max-width: 1080px;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        .presentation-title{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 200px;
            text-transform: uppercase;
            font-size: 1.5rem;
            span{
                width: 50px;
                height: 2.5px;
                background-color: black;
            }
        }

        .presentation-content{
            width: 100%;
            height: auto;
            margin-top: 50px;
            p{
                font-size: 1rem;
                color: #585858;
                line-height: 1.5;
                text-align: center;
            }
        }
    }

    .realisations{
        max-width: 1080px;
        padding: 0 50px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        position: relative;
        .real{
            width: 300px;
            height: 220px;
            position: relative;

            .image-real{
                width: 100%;
                height: 100%;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content-real{
                width: 90%;
                height: 90%;
                position: absolute;
                top: 5%;
                left: 5%;
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                padding: 10px;
                border: 0.1px solid rgba(255, 255, 255, 0.2);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
}

.phone{
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    a{
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
        text-decoration: none;
        background-color: #ba3849;
        padding: 10px 20px;
        border-radius: 5px;
        img{
            width: 20px;
            height: 20px;
        }
    }
}

.active{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    min-width: 400px;
    z-index: 100;
    justify-content: center;
    li{
        width: 100%;
        padding: 20px;
        cursor: pointer;
        a{
            padding: 20px;
            width: 100%;
        }  
        
        &:hover{
            background-color: #ba3849;
        }
    }
}
@media screen and (max-width: 1024px) {
    header nav{
        gap: 20px;
        ul{
            a{
                padding: 10px;
            }
        }
    }
    header .hero {
        padding: 20px;

        
        
        .left-hero, .right-hero {
            width: 45%;
            max-width: 500px;
        }
    }

    main .presentation {
        .presentation-title {
            gap: 50px;
        }
    }
}


@media screen and (max-width: 900px) {
    header{
        .top-header{
            display: none;
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            position: relative;
            ul{
                display: none;
            }
            .cta{
                display: none;
            }
            .menu-mobile{
                display: flex;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;
                span{
                    width: 40px;
                    height: 3px;
                    background-color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
        min-height: 100vh;
        .hero {
            flex-direction: column;
            .left-hero, .right-hero {
                width: 100%;
            }
        }
        nav {
            height: auto;
            padding: 20px;
            gap: 20px;

            ul {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }

    main {
        .presentation {
            padding: 0 20px;
            
            .presentation-title {
                flex-direction: column;
                height: auto;
                gap: 20px;
                text-align: center;
            }
        }

        .realisations {
            padding: 0 20px;
            
            .real {
                width: 100%;
                max-width: 400px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        .top-header p {
            font-size: 0.8rem;
            padding: 0 10px;
            text-align: center;
        }

        .hero {
            .left-hero {
                font-size: 1.5rem;
                padding: 20px;
            }

            .right-hero {
                form .form-group {
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }

    .phone {
        bottom: 10px;
        right: 10px;
        
        a {
            padding: 8px 15px;
            font-size: 0.9rem;
        }
    }
}